<div class="container-fluid container-fullw">
    <div class="row">
                 <div class="panel-body">
                    <div class="row margin-top-10">

                        <div class="col-lg-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title">View Reservation</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form" class="form" name="reserve">
                                       <div class="form-group">
                                            <select class="js-example-basic-hide-search js-states form-control" ng-model="reserve.court">
                                                    <option value="">select court to view reservation</option>
                                                    <option value="court1">court1</option>
                                                    <option value="court2">court2</option>
                                                    <option value="court3">court3</option>
                                                    <option value="court4">court4</option>
                                                </optgroup>
                                            </select>
                                        </div>

                                        <button class="btn btn-primary" type="submit" ng-click="view(reserve)">
                                            View Reservation
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>
</div>
