<h1>{{message}}</h1>
<div class='col-sm-4'>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Courts</h3>
		</div>
		<div class="panel-body">Body</div>
	</div>
</div>
<!-- <div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Events</h3>
		</div>
		<div class="panel-body">Panel content</div>
	</div>
</div> -->
<!-- <div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Presentations & Videos</h3>
		</div>
		<div class="panel-body">Panel content</div>
	</div>
</div> -->