<!-- <p class="form-label">

</p>
< <input type='search' class="form-control" placeholder='Search' ng-model='query' autofocus='autofocus'/> -->
<!-- <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th ng-repeat='head in fields' ng-click='sort(head)'>
        {{head | labelCase}}
        <span ng-show='sort.field === head && !sort.order' class='glyphicon glyphicon-chevron-down'></span>
        <span ng-show='sort.field === head && sort.order' class='glyphicon glyphicon-chevron-up'></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in users |filter:query | orderBy : sort.field : sort.order' ng-click='getInfo(user)'>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.type}}</td>
      <td>{{user.created | date:'MM-dd-yyyy hh:mm a'}}</td>
    </tr>
  </tbody>
</table>  -->


<div class="container-fluid container-fullw">
    <div class="row">
      <div class="col-md-12">
          <div class="margin-bottom-30">
              <button class="btn btn-primary btn-o btn-wide" ng-click="openNew('lg');">
                  <i class="ti-plus"></i> Add new User
              </button>
          </div>
      </div>
        <!-- <button class="btn btn-primary btn-md pull-right" ><span class='glyphicon glyphicon-plus'></span>Add Sub Admin</button> -->
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <table class="table table-striped table-hover" id="sample-table-3">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Type</th>
                            <th>Email</th>
                            <th>Created</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='user in users |filter:query | orderBy : sort.field : sort.order' ng-click='getInfo(user)'>
                                <td>{{user.username}}</td>
                                <td class="hidden-xs">{{user.type}}</td>
                                <td class="hidden-xs"><a href="#" rel="nofollow" target="_blank">{{user.email}}</a></td>
                                <td class="hidden-xs">{{user.created | date:'MM-dd-yyyy hh:mm a'}}</td>
<!--                                 <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Share"><i class="fa fa-share"></i></a>
                                        <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle>
                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                            </button>
                                        </div>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
